body{
     background: -moz-linear-gradient(center top , #FFFFFF, #D3D8E8) repeat fixed 0 0 rgba(0, 0, 0, 0);
}
body { 
		background: url(../img/fttma.jpg) no-repeat center center fixed;
	-webkit-background-size: cover !important; 
	-moz-background-size: cover !important; 
	-o-background-size: cover !important; 
	background-size: cover !important;  
}

.selectWrapper{
	border-radius:130px;
	display:inline-block;
	overflow:hidden;
	background:#cccccc;
	border:1px solid #cccccc;
  }
  .selectBox{
	
	width:430px;
	height:50px;
	border:0px;
	outline:none;
  }
  